body,
#root {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.padding-1 {
  padding: 1em 1em;
}

.padding-2 {
  padding: 2em 2em;
}

.default-form-style {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.default-form-style > * {
  flex-basis: 49%;
}

.flex-grow {
  flex-grow: 1;
}

/** global styles */

.ant-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.ant-form > .ant-form-item {
  flex-grow: 1;
  flex: 1;
  flex-basis: 100%;
  width: 100%;
}

.ant-form > .ant-form-item.item-file-upload {
  width: 49% !important;
  flex-basis: 49% !important;
  gap: 1%;
  margin-bottom: 4rem;
}
