.sidebar::-webkit-scrollbar {
  width: 9px;
}

.sidebar {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.sidebar:hover {
  overflow-y: auto;
}

.sidebar .ant-menu {
  background: transparent !important;
}
